h2 {
  font-size: 3.5rem;
}

.campo-ficha {
  background-color: rgba(0, 0, 0, 0.06);
  border-bottom: rgba(0, 0, 0, 0.39) solid 0.5px;
}



.caja-azul {
  display: flex;
  background-color: #004AAD;
  min-height: 100vh;
}

.caja-blanca {
  width: 50%;
  background-color: #FFF;
  border-radius: 0px 400px 0px 400px;
}

.img-registro {
  width: 50%;
  object-fit: cover;

}


@media (max-width: 768px) {

  /* Ocultar la imagen de registro en dispositivos móviles */
  .img-registro {
    display: none;
  }

  .caja-blanca {
    width: 100%;
    /* border-radius: 0; */
    border-radius: 0px 300px 0px 300px;
  }
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}

.formulario2 {
  min-height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.formulario3 {
  min-height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.navegacion {
  position: fixed;
  width: 50%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  margin: 3rem;
}

.button-navegacion {
  font-weight: 700;
  text-decoration: underline;
  background-color: transparent;
  margin: 10px;
  color: black;
  min-width: none;

}

.principal {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.caja1 {
  width: 70%;
  display: flex;
  flex-direction: column;

}

.formulario-registro3 {
  min-height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.Botonregistrar {
  background-color: #004AAD;
  color: white;
  /* Color del texto */
  border: none;
  /* Elimina el borde del botón */
  padding: 10px 50px;
  /* Ajusta el espaciado interno del botón */
  font-size: 16px;
  /* Tamaño de fuente */
  border-radius: 16px;
  /* Bordes redondeados */
  cursor: pointer;
  margin: 2rem;
  font-weight: bold;
}

.Botonregistrar:hover {
  background-color: #00f6fa;
}

.Botonregistrar:active {
  background-color: #004AAD;
}

.politicaps {
  margin: 2rem;
}


.caja-azul2 {
  min-height: 29.1%;
  min-width: none;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 100px 100px 0px 0px;
  background-color: #004AAD;

}


.img-bienestar {
  width: 11rem;
}