h2 {
  font-size: 3.5rem;
  text-align: center;
}

.principal {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.caja-azul {
  display: flex;
  background-color: #004AAD;
  min-height: 100vh;
}

.caja-azul2 {
  position: fixed;
  display: flex;
  padding: 2rem 0rem;
  justify-content: center;
  bottom: 0;
  right: 0;
  border-radius: 100px 100px 0px 0px;
  background-color: #004AAD;
  width: 50%;
}

.caja-blanca {
  width: 50%;
  background-color: #FFF;
  border-radius: 0px 400px 0px 400px;
}

.caja-blanca2 {
  margin-top: 5rem;
  width: 50%;
}


.formulario {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}

.navegacion {
  display: flex;
  justify-content: space-around;
}

.caja-politicas {
  text-align: center;
}

.img-registro {
  width: 50%;
  object-fit: cover;

}

.img-bienestar {
  height: 6rem;
}

.button-navegacion {
  background-color: #004AAD;
  color: white;
  font-weight: 700;
  min-width: none;
  border: 1px solid white;
  border-radius: 30px;
  margin: 10px;
  padding: 0.4rem;
  cursor: pointer;
}

.button-navegacion:active {
  color: #004AAD;
  background-color: white;
}

.boton-atras-registro3 {
  text-align: center;
}

@media (max-width: 768px) {
  .img-registro {
    display: none;
  }

  .caja-blanca {
    width: 100%;

    border-radius: 0px 290px 0px 290px;
  }

  .caja-blanca2 {
    margin-top: 5rem;
    width: 100%;
  }

  .img-registro {
    display: none;
  }

  .caja-azul2 {
    min-width: 100%
  }

}